* {
    margin: 0px;
    padding: 0px;
}

.background-container {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

.background-container .background {
    width: 100%;
    height: 100%;
    background-image: url('../res/heavy/background.png');
    background-size: cover;

    transform-origin: center;
    max-width: 100%;
    max-height: 100%;
    transform: scale(1.1);

    transition: 1s;

    filter: blur(16px) opacity(80%);
}

.main-container a,
footer a {
    text-decoration: none;
    color: rgb(1, 132, 128);
    transition: 0.3s;
    border-bottom: 1px dashed rgb(1, 132, 128, 0);
}

.main-container a:hover,
footer a:hover {
    border-bottom: 1px dashed rgb(1, 132, 128);
}

.nav-bar {
    width: 100%;
    height: 64px;

    background-color: aliceblue;
    box-shadow: 2px 2px 8px rgb(0, 0, 0, 0.2);
}

.nav-bar>.nav-item {
    display: inline-block;
    height: 100%;
    text-decoration: none;

    padding: 0px 32px 0px;
}

.nav-bar>.nav-item .nav-text {
    display: inline-block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: black;
}

.main-container .card p {
    line-height: 1.8em;
    font-size: 1.2em;
    text-align: center;
}

.main-container {
    width: 70%;
    margin: auto;
}

@media screen and (max-width:500px) {
    .main-container {
        width: 100%;
    }
}

.main-container .card {
    background-color: rgba(245, 245, 245, 0.75);
    border: 1px solid rgb(141, 135, 255);
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);

    padding: 48px 32px 48px;
    margin: 32px;
}

footer {
    width: 100%;
    height: 2em;
}

.meoicp {
    display: inline-block;
    position: relative;
    left: 50%;

    font-size: 20px;

    transform: translate(-50%, 0px);
    transition: 0.3s;
}

#copyright,
#email-me {
    margin-top: 1em;
    display: block;
    text-align: center;
}

#copyright {
    color: lightgrey;
}

#email-me {
    margin-bottom: 2em;
}

#copyright strong,
#email-me strong {
    color: rgb(82, 186, 139);
}