[submodule "homo"]
	path = homo
	url = https://github.com/Saplonily/homo.git

[submodule "learn_opengl"]
	path = learn_opengl
	url = https://github.com/LearnOpenGL-CN/learnopengl-cn.github.io.git
[submodule "CelesteModTutorial"]
	path = celeste_mod_tutorial
	url = https://github.com/Saplonily/CelesteModTutorial
	branch = gh-pages
[submodule "CelesteCommonIssues"]
	path = celeste_common_issues
	url = https://github.com/Saplonily/CelesteCommonIssues
	branch = gh-pages
[submodule "celeste_wiki"]
	path = celeste_wiki
	url = https://github.com/LuckyBoy-7/CelesteWikiModule
	branch = gh-pages
